*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #10131c;
    transition: 0.5s;
}

label{
    position: relative;
    width: 75px;
    height: 75px;
    background: #333;
    border-radius: 18px;
    cursor: pointer;
}

label input{
    appearance: none;
}

label span{
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
    background: #333849;
    border: 6px solid #212532;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}


label input:checked ~ span{
    background: #ffe9bc;
}


label input:checked ~ span ion-icon{
    color: #807b71;
}

label input:checked ~ span:hover ion-icon{
    color: #e6a212;
    filter: drop-shadow(0 0 5px #e6a212) drop-shadow(0 0 10px #e6a212) drop-shadow(0 0 15px #e6a212);

}

label span ion-icon{
    color: rgba(255, 255, 255, 0, 25);
    font-size: 2em;
    transition: 0.5s;
    color: rgba(255, 255, 255, 1);
}

label span:hover ion-icon{
    color: #2dfc52;
    filter: drop-shadow(0 0 5px #2dfc52) drop-shadow(0 0 10px #2dfc52) drop-shadow(0 0 15px #2dfc52);
}
